<form class="align-center-items" #quoteForm="ngForm" (change)="logQuote()" (ngSubmit)="submitQuote()">

  <div class="row mb-3">
    <div class="col-md-4">
      <label for="selectedLocationId" class="form-label">Location: </label>
      <select id="selectedLocationId"
              name="selectedLocationId"
              required
              [(ngModel)]="quote.location"
              class="form-select"
              #location="ngModel">
        <option *ngFor="let location of locations" [ngValue]="location">
          {{location.locationName}}
        </option>
      </select>
      <div *ngIf="location.invalid && (location.dirty || location.touched)" style="color:red;">• Location is required.</div>
    </div>

    <div class="col-md-4">
      <label for="totalSquareMeters" class="form-label">Square Meters: </label>
      <input id="totalSquareMeters"
             name="totalSquareMeters"
             [(ngModel)]="quote.totalSquareMeters"
             class="form-control"
             type="number"
             required min="1"
             #totalSquareMeters="ngModel" />
      <div *ngIf="totalSquareMeters.invalid && (totalSquareMeters.dirty || totalSquareMeters.touched)" style="color:red;">• Must be number higher than 0.</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3" [hidden]="quote.location?.hasBalconyCleaning ? false : true">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Want some balcony cleaning?</h5>
          <img src="../../assets/images/balcony-cleaning.jpg" class="card-image-top" />
          <div class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
          </div>
          <input id="balconyCleaningEnabled"
                 name="balconyCleaningEnabled"
                 [(ngModel)]="quote.balconyCleaningEnabled"
                 type="checkbox"
                 class="col-8 form-check-input" />
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3" [hidden]="quote.location?.hasWindowCleaning ? false : true">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">How about some window cleaning?</h5>
          <img src="../../assets/images/window-cleaning.jpg" class="card-image-top" />
          <div class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
          </div>
          <input id="windowCleaningEnabled"
                 name="windowCleaningEnabled"
                 [(ngModel)]="quote.windowCleaningEnabled"
                 type="checkbox"
                 class="col-8 form-check-input" />
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3" [hidden]="quote.location?.hasWasteCollection ? false : true">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">And why not some waste collection?</h5>
          <img src="../../assets/images/garbage.jpg" class="card-image-top" />
          <div class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
          </div>
          <input id="wasteCollectionEnabled"
                 name="wasteCollectionEnabled"
                 [(ngModel)]="quote.wasteCollectionEnabled"
                 type="checkbox"
                 class="col-8 form-check-input" />
        </div>
      </div>
    </div>
  </div>

  <button [disabled]="!quoteForm.form.valid" class="btn btn-primary" type="submit">Submit</button>
</form>

<div class="container review" [hidden]="postSuccessful == false">
  <h1>Your quote: </h1>

  <div class="row">
    <div class="col">
      <label for="selectedLocationIdReview">Location: </label>
      <input id="selectedLocationIdReview" [value]="quote.location?.locationName" disabled />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <label for="totalSquareMetersReview" class="form-label">Square Meters: </label>
        <input id="totalSquareMetersReview"
               name="totalSquareMetersReview"
               [value]="quote.totalSquareMeters"
               type="number"
               class="pl-3"
               disabled />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3 form-check" [hidden]="quote.location?.hasBalconyCleaning ?   false : true">
        <label for="balconyCleaningEnabledReview" class="form-check-label">Balcony Cleaning: </label>{{quote.balconyCleaningEnabled}}
      </div>
    </div>

    <div class="col">
      <div class="input-group mb-3 form-check" [hidden]="quote.location?.hasWindowCleaning ?  false : true">
        <label for="windowCleaningEnabledReview" class="form-check-label">Window Cleaning: </label>{{quote.windowCleaningEnabled}}
      </div>
    </div>

    <div class="col">
      <div class="input-group mb-3 form-check" [hidden]="quote.location?.hasWasteCollection ?   false : true">
        <label for="wasteCollectionEnabledReview" class="form-check-label">Waste Collection: </label>{{quote.wasteCollectionEnabled}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="totalPriceReview" class="form-label">Total price: </label>{{quote.totalPrice}}
    </div>
  </div>

</div>
