<form (change)="logQuote()" (ngSubmit)="postQuote()">
  <div class="row">
    <div class="input-group mb-3 col">
      <label for="selectedLocationId" class="form-label">Location: </label>
      <select id="selectedLocationId"
              name="selectedLocationId"
              [(ngModel)]="quote.location"
              class="form-select">
        <option *ngFor="let location of locations" [ngValue]="location">
          {{location.locationName}}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <label for="totalSquareMeters" class="form-label">Square Meters: </label>
        <input id="totalSquareMeters"
               name="totalSquareMeters"
               [(ngModel)]="quote.totalSquareMeters"
               type="number"
               class="pl-3" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3 form-check" [hidden]="quote.location?.hasBalconyCleaning ?   false : true">
        <label for="balconyCleaningEnabled" class="form-check-label">Balcony Cleaning: </label>
        <input id="balconyCleaningEnabled"
               name="balconyCleaningEnabled"
               [(ngModel)]="quote.balconyCleaningEnabled"
               type="checkbox"
               class="form-check-input" />
      </div>
    </div>

    <div class="col">
      <div class="input-group mb-3 form-check" [hidden]="quote.location?.hasWindowCleaning ?  false : true">
        <label for="windowCleaningEnabled" class="form-check-label">Window Cleaning: </label>
        <input id="windowCleaningEnabled"
               name="windowCleaningEnabled"
               [(ngModel)]="quote.windowCleaningEnabled"
               type="checkbox"
               class="form-check-input" />
      </div>
    </div>

    <div class="col">
      <div class="input-group mb-3 form-check" [hidden]="quote.location?.hasWasteCollection ?   false : true">
        <label for="wasteCollectionEnabled" class="form-check-label">Waste Collection: </label>
        <input id="wasteCollectionEnabled"
               name="wasteCollectionEnabled"
               [(ngModel)]="quote.wasteCollectionEnabled"
               type="checkbox"
               class="form-check-input" />
      </div>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<div class="container review" [hidden]="postSuccessful == false">
  <h1>Your quote: </h1>

  <div class="row">
    <div class="col">
      <label for="selectedLocationIdReview">Location: </label>
      <input id="selectedLocationIdReview" [value]="quote.location?.locationName" disabled />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <label for="totalSquareMetersReview" class="form-label">Square Meters: </label>
        <input id="totalSquareMetersReview"
               name="totalSquareMetersReview"
               [value]="quote.totalSquareMeters"
               type="number"
               class="pl-3"
               disabled />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3 form-check" [hidden]="quote.location?.hasBalconyCleaning ?   false : true">
        <label for="balconyCleaningEnabledReview" class="form-check-label">Balcony Cleaning: </label>{{quote.balconyCleaningEnabled}}
      </div>
    </div>

    <div class="col">
      <div class="input-group mb-3 form-check" [hidden]="quote.location?.hasWindowCleaning ?  false : true">
        <label for="windowCleaningEnabledReview" class="form-check-label">Window Cleaning: </label>{{quote.windowCleaningEnabled}}
      </div>
    </div>

    <div class="col">
      <div class="input-group mb-3 form-check" [hidden]="quote.location?.hasWasteCollection ?   false : true">
        <label for="wasteCollectionEnabledReview" class="form-check-label">Waste Collection: </label>{{quote.wasteCollectionEnabled}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="totalPriceReview" class="form-label">Total price: </label>{{quote.totalPrice}}
    </div>
  </div>

</div>
