<div>
  <form (change)="logQuote()" (ngSubmit)="calculateQuote()">
    <div>
      <label for="selectedLocationId">Location</label>
      <select name="selectedLocationId" [(ngModel)]="quote.location">
        <option *ngFor="let location of locations" [ngValue]="location" >{{location.locationName}}
        </option>
      </select>
     </div>
     <div>
      <label for="totalSquareMeters">Square Meters</label>
      <input name="totalSquareMeters"
             [(ngModel)]="quote.totalSquareMeters"
             type="number" />
    </div>
    <div [hidden]="quote.location?.hasBalconyCleaning ? false : true">
      <label for="balconyCleaningEnabled">Balcony Cleaning</label>
      <input name="balconyCleaningEnabled"
             [(ngModel)]="quote.balconyCleaningEnabled"
             type="checkbox" />
    </div>
    <div [hidden]="quote.location?.hasWindowCleaning ? false : true">
      <label for="windowCleaningEnabled">Window Cleaning</label>
      <input name="windowCleaningEnabled"
             [(ngModel)]="quote.windowCleaningEnabled"
             type="checkbox" />
    </div>
    <div [hidden]="quote.location?.hasWasteCollection ? false : true">
      <label for="wasteCollectionEnabled">Waste Collection</label>
      <input name="wasteCollectionEnabled"
             [(ngModel)]="quote.wasteCollectionEnabled"
             type="checkbox" />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
