<div class="container">
  <div>
    <h1>CleanQuote Services - your #1 cleaning services in Stockholm & Uppsala!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div>
    <h3>Want us to come cleaning? Just fill out the form below.</h3>
  </div>

  <app-quote></app-quote>
</div>
